.footer {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--color-bg-default);
    font-size: 1rem;
    color: var(--color-text-darker);
    text-align: center;
    line-height: 1.125;
}